* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Faz o padding não 'estourar' a largura */
}

:root {
    --fundoPrincipal: white;
    --fundoMenor: rgb(28, 50, 80);
    --fundoSubMenor: rgb(43, 66, 99);
    --fundoSubMenor25: rgba(20, 84, 173, 0.25);
    --fundoSubMenor50: rgba(20, 84, 173, 0.50);
    --fundoSubMenor75: rgba(20, 84, 173, 0.75);
    --card: rgb(39, 42, 59);
    --textoEspecial: rgb(28, 50, 80);
    --textoGeral: #000000;
    --textoSubGeral: #4F4F4F;
    --textoContraste: rgb(248, 248, 248);
    --Ouro: #f7bb17;
    --OuroEscuro: rgb(129, 95, 9);
}

html,
body {
    scroll-behavior: smooth;
    /* scroll-behavior: smooth; Faz que a navegação de links internos seja suave. */
    width: 100%;
    /* width: 100%; faz com que um elemento HTML ocupe toda a largura disponível do seu
    contêiner pai (o elemento que o envolve).  */
    /* overflow-x: hidden; */
    /* A propriedade CSS overflow-x define como o navegador deve lidar com o conteúdo
    que ultrapassa os limites horizontais (esquerda/direita) de um elemento. */
    /* overflow-x: hidden; no CSS oculta qualquer conteúdo de um elemento
    que ultrapasse o limite horizontal (largura) da sua caixa, impedindo o surgimento da barra de rolagem lateral. */
    min-height: 100vh;
    /* Em CSS, a unidade vh significa Viewport Height (Altura da Visualização). 
    1vh equivale a 1% da altura da janela do navegador (viewport).
    Portanto, 100vh significa 100% da altura da janela.  */
}

header,
section,
footer {
    padding: 10px;
    width: 100%;
    display: flow-root;
    /* Se um elemento qualquer contém elementos-filho, o flow-root faz com que o pai envolva completamente esses elementos, ajustando sua altura automaticamente. */
}

header {
    background-color: var(--fundoMenor);
    color: var(--textoContraste);

    position: sticky;
    top: 0;

    z-index: 1000;
}

header>a {
    text-decoration: none;
    color: var(--textoContraste);
    margin: 0 8px;
    display: inline-block;
    transition: 0.3s ease;
}

header>a:hover {
    transform: scale(1.05);
    color: var(--Ouro)
}

.linha-divisoria {
    width: 100%;
    /* Ocupa a tela toda ou o espaço da grid */
    border-bottom: 2px solid var(--fundoMenor);
    /* A cor da sua paleta */
    margin: 20px 0;
    /* Dá um respiro de 20px em cima e embaixo da linha */
}

.titulo {
    margin-top: 15px;
    margin-bottom: 25px;
    min-height: auto;
}

h1 {
    text-align: center;
    color: var(--textoEspecial);
    font-size: 35px;
}

section {
    min-height: 300px;
}

section>h2 {
    color: var(--textoEspecial);
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

li {
    margin-left: 18px;
}

span {
    color: var(--OuroEscuro);
}

dt {
    background-color: var(--fundoSubMenor);
    color: var(--textoContraste);
    font-size: 18px;
    padding: 10px;
    text-align: left;
}

dd {
    background-color: var(--fundoPrincipal);
    color: var(--textoGeral);
    font-size: 16px;
    padding: 12px;
}

.Introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    padding: 40px 20px;
}

.card-Introducao {
    display: none;
    background-color: #84a6c5;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
}

.card-Introducao.ativo {
    display: block;
    animation: surgir-da-direita 0.5s ease;
}

/* @keyframes: É o comando que avisa o navegador: "Atenção, estou criando uma animação".
    surgir-da-direita: É o nome que substitui de "fade-in" para essa animação.*/
@keyframes surgir-da-direita {

    /* from: Define o ponto de partida (como o elemento nasce na tela).
    opacity: 0;: Ele começa totalmente invisível (transparente).
    transform: translateX(10px);: Ele começa deslocando 10 pixels para a direita no eixo X (horizontal). */
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    /* to: Define o ponto de chegada (como o elemento deve ficar no final da animação).
    opacity: 1;: Ele termina 100% visível e sólido.
    transform: translateX(0);: Ele desliza de volta para a posição original dele (0),
    ou seja, o lugar onde ele realmente deveria estar na tela. */
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.carrossel-controles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.carrossel-controles>span {
    color: var(--textoEspecial);
    font-size: 20px;
}

.Introducao-imagem {
    background-image: url(../../Imagens/Estilo/bannerCalculadora.png);
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 1px 2px 5px #000000;
    min-height: 400px;
}

.Introducao-item {
    text-align: justify;
}

.Introducao h2 {
    text-align: center;
    margin-bottom: 50px;
    color: var(--textoEspecial);
    font-size: 30px;
}

.Introducao h3 {
    text-align: center;
    margin-bottom: 10px;
}

.Glossario {
    display: grid;
    place-items: center;
}

.Glossario-item {
    width: 900px;
    text-align: justify;
}

.Glossario>p {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 50px;
}

.Glossario>h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 50px;
}

.Glossario-item>h4 {
    min-height: auto;
    max-width: 100%;
    background-color: var(--fundoMenor);
    color: var(--textoContraste);
    font-size: 20px;
    padding: 8px;
}

.Sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    padding: 40px 20px;
}

.Sobre-item {
    text-align: justify;
}

.card-Sobre {
    box-shadow: 1px 2px 5px #000000;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
}

.imagem-Sobre>img {
    width: 750px;
    height: 750px;

    object-fit: cover;

    background-position: center;
    border-radius: 8px;

    box-shadow: 1px 2px 3px #000000;

}

.Sobre h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 50px;
}

.Sobre h3 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 10px;
}

footer {
    background-color: var(--fundoMenor);
    color: var(--textoContraste);
}

.emailFooterItem {
    vertical-align: middle;
    text-align: center;
}

.emailFooterContainer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    /* Cria 3 colunas: as das pontas dividem o espaço igualmente,
    a do meio se adapta ao tamanho da barra */
    align-items: center;
    /* Alinha tudo verticalmente no meio */
    gap: 0 5px;
}

.emailFooterContainer a:first-of-type {
    text-align: right;
    transform-origin: right center;
}

.emailFooterContainer a:last-of-type {
    text-align: left;
    transform-origin: left center;
}

.emailFooterItem>a {
    color: var(--textoContraste);
    text-decoration: none;
    display: inline-block;
    transition: 0.3s ease;
}

.emailFooterItem>a:hover {
    transform: scale(1.05);
    color: var(--Ouro)
}